body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Aplicação/assets/background_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #062454;
}

.cabecalho {
    display: flex;
    background-color: #062454;
    border-bottom: 3px solid #1684ff;
    padding: 15px 7%;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu img {
    width: 90px;
    margin-right: 60px;
}

.menu li {
    margin-right: 30px;
}

.menu a {
    color: white;
    font-size: 12px;
}

.cabecalho button {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 8px 30px;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 7%;
}

.logo-dois {
    width: 280px;
}

.box-login {
    width: 300px;
    background-color: bisque;
    border: 1px solid white;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50%;
    w
}

.boas-vindas h4 {
    font-size: 20px;
}

.boas-vindas span {
    color: #7589ab;
    font-size: 12px;
}

.titulo-login h4 {
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 25px;
}

.campos {
    text-align: left;

}

.campos label {
    font-size: 12px;
    font-weight: bold;
}

.campos input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid #888888;
    font-family: inherit;
    font-size: 12px;
}

.campos img {
    width: 16px;
    margin-right: 6px;
}

#div_msg_senha {
    font-size: 12px;
    margin-top: 5px;
}

.botao-entrar button {
    width: 90%;
    margin-top: 20px;
    padding: 12px;
    background-color: #176bea;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.links {
    margin-top: 22px;
}

.links a {
    color: #176bea;
    font-size: 14px;
}

.seguranca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.seguranca img {
    width: 16px;
    margin-right: 6px;
}

.seguranca span {
    color: #888888;
    font-size: 10px;
}